
<div class="center_container">
    <h3 class="header">ADD MOVIE</h3>
    <!-- <form> -->
    <form (ngSubmit)="f.form.valid && createMovie()" #f="ngForm">
        <div class="form-group">
            <label for="name">Movie Name</label>
            <input type="text" value="" placeholder="Movie Name" id="name" name="name" class="form-control" [(ngModel)]="movie.name" #name="ngModel" required />
            <div *ngIf="f.submitted && !name.valid" class="error" style="color:red;">*Name field can not be empty</div>
        </div>

        <div class="form-group">
            <label for="desc">Movie Description</label>
            <input type="text" value="" placeholder="Movie Description" id="desc" name="desc" class="form-control" [(ngModel)]="movie.desc" #desc="ngModel" required />
            <div *ngIf="f.submitted && !desc.valid" class="error" style="color:red;">*Description field can not be empty</div>
        </div>

        <div class="form-group">
            <label for="release_year">Release Year</label>
            <input type="number" value="" placeholder="Release Year" id="release_year" name="release_year" class="form-control" [(ngModel)]="movie.release_year" #release_year="ngModel" required />            
            <div *ngIf="f.submitted && !release_year.valid" class="error" style="color:red;">*Release Year field can not be empty</div>
        </div>

        <div class="form-group">
            <label for="directors">Directors</label>
            <input type="text" value="" placeholder="Directors (, separated values)" id="directors" name="directors" class="form-control" [(ngModel)]="movie.directors" #directors="ngModel" required />
            <div *ngIf="f.submitted && !directors.valid" class="error" style="color:red;">*Directors field can not be empty</div>
        </div>

        <div class="form-group">
            <label for="cast">Cast</label>
            <input type="text" value="" placeholder="Cast (, separated values)" id="cast" name="cast" class="form-control" [(ngModel)]="movie.cast" #cast="ngModel" required />
            <div *ngIf="f.submitted && !cast.valid" class="error" style="color:red;">*Cast field can not be empty</div>

        </div>

        <button ng-click="createMovie()">Submit</button>
    </form>
</div>
<!-- </div> -->
