table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.center_container {
    padding: 15px 0;
    border: 3px solid #efefef;
    background-color: #ffffff;
    padding: 15px 0;
    margin: auto;
}
