<div class="center_container">
  <h2> Movie Details </h2>
  <table>
    <tr>
      <td> Movie Name </td>
      <td> {{movie.name}}</td>
    </tr>
    <tr>
      <td> Movie Description </td>
      <td> {{movie.desc}}</td>
    </tr>
    <tr>
      <td> Release Year </td>
      <td> {{movie.release_year}}</td>
    </tr>
    <tr>
      <td> Directors </td>
      <td> {{movie.directors}}</td>
    </tr>
    <tr>
      <td> Cast </td>
      <td> {{movie.cast}}</td>
    </tr>
  </table>
  <!-- <label for="name">Movie Name</label>
  <input [disabled]="true" id="name" type="text" [(ngModel)]="movie.name"><br/>
  
  <label for="desc">Movie Description</label>
  <input [disabled]="true" id="desc" type="text" [(ngModel)]="movie.desc"><br/>
  
  <label for="release_year">Release Year</label>
  <input [disabled]="true" id="release_year" type="text" [(ngModel)]="movie.release_year"><br/>
  
  <label for="directors">Directors</label>
  <input [disabled]="true" id="directors" type="text" [(ngModel)]="movie.directors"><br/>

  <label for="cast">Cast</label>
  <input [disabled]="true" id="case" type="text" [(ngModel)]="movie.cast"><br/> -->
</div>
